<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Caveat|Muli" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header class="bg" style="background-image:url('{{page.banner_path}}')">
    <div class="overlay">
      <nav class="editable">
        <h2>navigation</h2>
        <a href="#">bob</a>
        <a href="#">dave</a>
        <a href="#">tim</a>
        <a href="#">bruce</a>
        <div class="">
          <!-- social -->


        </div>
      </nav>
      <div class="intro-box grid-spaceBetween">
        <div class="col-6">
          <h1 class="editable">title</h1>
          <h2 class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h2>
          <p class="right editable" >keep scrolling</p>
        </div>
        <div class="col-5">
          <img class="editable" src="https://picsum.photos/500/700/?random" alt="">
        </div>
      </div>
    </div>
  </header>

  {{content}}


    <footer>
      <div class="grid">
        <form class="col-9_md-12 editable" action="index.html" method="post">
          <input type="text" name="name" placeholder="Name">
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="subject" placeholder="Subject">
          <input type="text" name="referal name" placeholder="Referrd by">
          <textarea name="name" rows="8" cols="80" placeholder="any extended notes that you wish to send"></textarea>
          <input type="submit" value="Submit Form">
        </form>
        <div class="col-3_md-12 editable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <!-- inst widget -->
      <div class="grid">
        <div class="col-6">
          <a href="#">somewhere</a>
          <a href="#">insta</a>
          <!-- face  -->
          <!-- pintrest -->
        </div>
        <div class="col-6 right">
          <a href="#top">back to the top</a>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="main.js">

    </script>
  </body>
  </html>
